@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background: #f6f6f6;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 4px 25px -22px black;
    z-index: 10;
}

.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 b{
    color: red;
}


.menu {
    height: 80px;
    margin-right: 60px;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    font-size: 20px;
    background: #eeeeeefa;
    border-radius: 100%;
    color: #787878;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#icon-menu:hover{
    opacity: 0.8;
}

/*Buscador de contenido*/

#ctn-icon-search{
    position: absolute;
    right: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ctn-icon-search i{
    font-size: 18px;
    color: black;
    cursor: pointer;
    transition: all 300ms;
}

#ctn-icon-search i:hover{
    color: black;
}


#ctn-bars-search{
    position: fixed;
    top: -10px;
    width: 100%;
    background: transparent;
    padding: 20px;
    z-index: 9;
    transition: all 600ms;
}

#ctn-bars-search input{
    display: block;
    width: 1200px;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    outline: 0;
}

#box-search{
    position: fixed;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    background: #fff;
    z-index: 8;
    overflow: hidden;
    display: none;
}

#box-search li a{
    display: block;
    width: 1200px;
    color: #777777;
    padding: 12px 20px;
}

#box-search li a:hover{
    background: #f3f3f3;
}

#box-search li a i{
    margin-right: 10px;
    color: #777777;
}


#cover-ctn-search{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: transparent;
    z-index: 7;
    display: none;
}





/* Responsive Design - adaptable a dispositivos moviles*/

@media screen and (max-width: 1220px){

    .header-content,
    .container-footer footer{
        max-width: 1000px;
        padding: 0 20px;
    }

    #ctn-bars-search,
    #ctn-bars-search input,
    #box-search{
        width: 100%;
    }

}



@media screen and (max-width: 800px){

    body{
        overflow-x: hidden;
    }

    .container-all{
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .move-container-all{
        transform: translateX(300px);
    }

/*Portada*/


.blog-container-cover{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 80px;
    background-image: url(../img/img3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.blog-container-cover:before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(25, 81, 235, 0.76);
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover{
    max-width: 800px;
    height: 90px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

:root {
    --colorOne: black;
    --colorTwo: #5c5c5c;
    --colorWhite: #e5e5e5;

    --tileBorderRadius: 4px;

    --fontOne: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    padding: 0 2%;
}

body {
    font-family: var(--fontOne);
    background-color: var(--colorOne);
}

.headerLogo {
    width: 120px;
}

.thumbSection {
    padding-top: 3%;
    color: var(--colorWhite);
}

.thumbTitle {
    font-size: 16px;
    line-height: 14px;
    font-weight: 500;
    margin: 0 4% 12px;
}

.thumbTiles.swiper-container {
    padding: 0 4%;
}

.thumbTile {
    width: 20%;
}

.thumbTile__image {
    width: 100%;
    border-radius: var(--tileBorderRadius);
}

.thumbTiles .swiper-button-prev,
.thumbTiles .swiper-button-next {
    height: 100%;
    width: 4%;
    width: calc(4% - 5px);
    top: 0;
    bottom: 0;
    margin: 0;
    background-color: rgba(20, 20, 20, 0.5);
}

.thumbTiles .swiper-button-prev {
    left: 0;
    border-top-right-radius: var(--tileBorderRadius);
    border-bottom-right-radius: var(--tileBorderRadius);
}

.thumbTiles .swiper-button-next {
    right: 0;
    border-top-left-radius: var(--tileBorderRadius);
    border-bottom-left-radius: var(--tileBorderRadius);
}

.thumbTiles .swiper-button-prev::after,
.thumbTiles .swiper-button-next::after {
    color: #fff;
    font-size: 4vw;
    font-weight: bold;
    transition: transform 0.1s ease-out;
}

@media screen and (min-width: 640px) {
    .thumbTiles .swiper-button-prev::after,
    .thumbTiles .swiper-button-next::after {
        display: none;
        font-size: 2.4vw;
    }

    .thumbTiles .swiper-button-prev:hover::after,
    .thumbTiles .swiper-button-next:hover::after {
        transform: scale(1.25);
    }

    .thumbTiles:hover .swiper-button-prev::after,
    .thumbTiles:hover .swiper-button-next::after {
        display: block;
    }

}


body {
    margin: 0 0 55px 0;
}

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: black;
    display: flex;
    overflow-x: auto;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: white;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
    background-color: transparent;
}

.nav__link--active {
    color: #009578;
}

.nav__icon {
    font-size: 18px;
}